#### Mounting Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
cd "/content/drive/MyDrive/IASNLP"

### Importing Necessary Libraries

In [ ]:
!pip install sentencepiece

In [4]:
import numpy as np
import pandas as pd

import sentencepiece as spm
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split


import matplotlib.pyplot as plt 

from functools import reduce
import os

### Loading Data

We have downloaded the entire Samanantar Parallel Corpus. The data is split by source from where it was collected. We are concerned with the English-Bengali Parallel Corpus for the purpose of our training. Hence, we have removed the English to other Indian Language information. We might include them later in our study or training to see if that improves performance.

Due to computational resource constraint, we will take some fraction of data from each source and will pre-process it.

Below, we can see the new created source of parallel corpora from various Indian Channels and Programmes for English to Bengali Data. We also have existing parallel corpora from previous workshops and events included.

In [5]:
print("New Data created by Samanantar:")
!ls ./Data/source_wise_splits/created
print("\nExisting Data Sources before Samanantar:")
!ls ./Data/source_wise_splits/existing

New Data created by Samanantar:
anuvaad_dw		asianetnews	  ie_news	ocr
anuvaad-general_corpus	coursera	  ie_sports	oneindia
anuvaad_mykhel		dwnews		  ie_tech	pmi
anuvaad_ocr		ie_business	  indiccorp	sentinel
anuvaad_oneindia	ie_education	  khan_academy	wikipedia
anuvaad_pib		ie_entertainment  Kurzgesagt
anuvaad_pib_archives	ie_general	  mykhel
anuvaad_prothomalo	ie_lifestyle	  nptel

Existing Data Sources before Samanantar:
alt	     cvit-pib	   GNOME  Mozilla-I10n	 Tanzil   tico19-terminologies
banglanmt    ELRC_2922	   JW300  OpenSubtitles  Tatoeba  Ubuntu
bible-uedin  GlobalVoices  KDE4   sipc		 TED2020  wikimatrix_opus

In [6]:
file_names = os.listdir("./Data/source_wise_splits/existing")
data_by_source = list()
for file_name in file_names:
    data_by_source.append(pd.read_csv("./Data/source_wise_splits/existing/"+file_name+"/en-bn/bn_sents.tsv", sep="\t"))

In [7]:
file_names = os.listdir("./Data/source_wise_splits/created")
for file_name in file_names:
    data_by_source.append(pd.read_csv("./Data/source_wise_splits/created/"+file_name+"/en-bn/bn_sents.tsv", sep="\t"))

In [8]:
data_by_source = [dat.drop('idx', 1) for dat in data_by_source]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

Let's have a look at one of the loaded files. We can see that there are 3 columns `src` and `tgt` standing for source and target. We now observe that each source sentence has it's bengali translation in the dataset.

In [9]:
data_by_source[0].head()

,src,tgt
0,"Okay, I'll be right there.","ওকে, এখনই আসছি"
1,Give one's lessons.,পড়া দেওয়া
2,"Much to the Witnesses' surprise, even the pros...","সাক্ষীরা অত্যন্ত বিস্মিত হন, এমনকি সরকারি উকিল..."
3,I am at your service.,আমি তোমাকে সাহায্য করার জন্যই
4,"Via Facebook Messenger, Global Voices talked w...",গ্লোবাল ভয়েসস বাংলা'র পক্ষ থেকে আমরা যোগাযোগ ক...

Ideally, we will want our training data to be spread across all the sources. Hence, we will merge all the sources together.

In [10]:
data = pd.concat(data_by_source, ignore_index=True)

In [15]:
data.to_csv('full_data.csv')

We have in total 9251703 parallel sentences for English to Bengali.

In [16]:
# Run if you have ran the above codes once before and have generated the full_data.csv file
data = pd.read_csv("full_data.csv")
data = data[['src', 'tgt']]

In [11]:
data

,src,tgt
0,"Okay, I'll be right there.","ওকে, এখনই আসছি"
1,Give one's lessons.,পড়া দেওয়া
2,"Much to the Witnesses' surprise, even the pros...","সাক্ষীরা অত্যন্ত বিস্মিত হন, এমনকি সরকারি উকিল..."
3,I am at your service.,আমি তোমাকে সাহায্য করার জন্যই
4,"Via Facebook Messenger, Global Voices talked w...",গ্লোবাল ভয়েসস বাংলা'র পক্ষ থেকে আমরা যোগাযোগ ক...
...,...,...
9251698,A panel of auditors for auditing listed compan...,নিরীক্ষা কার্যক্রমে শৃঙ্খলা আনয়নে তালিকাভুক্ত...
9251699,"On this consideration, and on certain conditio...",সে কারণে কতিপয় শর্ত সাপেক্ষে এসব যন্ত্রাংশের ...
9251700,"Under these rules, fixed price method for IPOs...",এতে অভিহিত মূল্যে আইপিও’র জন্য ফিক্সড প্রাইস প...
9251701,Steps are being taken to introduce rural ratio...,টিআর ও ভিজিএফ এর পরিবর্তে পল্লী রেশনিং কর্মসূচ...
9251702,I propose to rationalize rates and to introduc...,উৎস কর: উৎস করে কয়েকটি ক্ষেত্রে করহার যৌক্তিক...

As of now, we were dealing with the training data. We now look at the test data.

In [6]:
test_data = pd.read_csv("testdata.csv", header=None)
test_data.columns =['src', 'tgt']

In [7]:
test_data

,src,tgt
0,"On the side-lines of this event, I hope the de...","এই অনুষ্ঠানের পাশাপাশি আমি আশা করি, বিদেশ থেকে..."
1,We are proud to be the global host for World E...,বিশ্ব পরিবেশ দিবস ২০১৮’র আয়োজক দেশ হিসাবে আমরা...
2,"We are also committed to ensure, that we do so...",সুস্থায়ী ও প্রকৃতির সঙ্গে সহাবস্থানে এই মানোন্...
3,This has freed rural women from the misery of ...,বিষাক্ত ধোঁয়ার কবল থেকে এই রান্নার গ্যাস সংযোগ...
4,We are engaged in a massive push towards renew...,পুনর্নবীকরণযোগ্য শক্তি উৎপাদনের এক উচ্চাকাঙ্খী...
...,...,...
2385,He will inaugurate the collective e-grihaprave...,প্রধানমন্ত্রী আবাস যোজনার আওতায় নির্মিত ২৫ হাজ...
2386,He will also address a public gathering.,এই উপলক্ষ্যে তিনি এক জনসভাতেও ভাষণ দেবেন।
2387,Prime Minister will then proceed to Odisha.,এরপর প্রধানমন্ত্রী ওড়িশায় যাবেন।
2388,The Agreement will help in the availability of...,এই সহযোগিতা চুক্তি স্বাক্ষরের ফলে কাস্টমস্‌ সং...
2389,The Union Cabinet chaired by the Prime Ministe...,নয়া দিল্লি: 0৩ জানুয়ারি: প্রধানমন্ত্রী শ্রী নর...

### Data Preparation

We now shuffle the data to form our training data(`train_data`)(which is 1.7% of the entire dataset). We will take some part of this training data(0.004%)(on which the model won't be trained) to form the training-developement(`train_dev_data`) set. The developement set and the test set will be presented later.

Reason: The entire dataset is massive and would take large computing resource to train a model. Hence, we took a subset of the dataset for ease in training.

In [15]:
train_data, train_dev_data  = train_test_split(data, train_size=0.017, test_size=0.0004, random_state=43)

In [23]:
# train_data.to_csv("train_data.csv")
# train_dev_data.to_csv("train_dev.csv")
# Uncomment and run the above lines if running for first time and there is no train_data.csv and train_dev.csv file in the working directory
train_data = pd.read_csv("train_data.csv")[['src', 'tgt']]
train_dev_data = pd.read_csv("train_dev.csv")[['src', 'tgt']]

In [24]:
train_data

,src,tgt
0,"Actually, it didnt.","সত্যি, ব্যাপারটা ও ভাবে নি।"
1,It was then set on fire.,তার পরেই ওর গায়ে আগুন লাগানো হয়।
2,But the pain is still fresh.,কিন্তু ক্ষত এখনও তরতাজা।
3,The video was from an unknown location.,ভিডিওটি পোস্ট করেছিলেন এক অজ্ঞাত জায়গা থেকে।
4,The farmers had cultivated paddy by taking loa...,"চাষিরা জানান, ব্যাঙ্ক থেকে ঋণ নিয়ে আলু চাষ করে..."
...,...,...
157273,Other preventive efforts include screening blo...,অন্যান্য প্রতিরোধ ব্যবস্থার মধ্যে আছে ট্রান্সফ...
157274,Schools out.,স্কুল ছুটি হয়েছে।
157275,She sings well.,ভালো গেয়েছে মেয়েটা।
157276,My chest hurts.,আমার বুকটা ছিঁড়া যায়।
157277,What happened in the match,ঠিক কী ঘটেছিল ম্যাচে

In [25]:
train_dev_data

,src,tgt
0,We beg our Protestant and Jewish friends to pu...,কোন কোন ক্ষেত্রে কর্তৃপক্ষ এবং ধর্মীয় নেতারা ...
1,"Sa'd advised Muhammad: ""Don't be hard on him. ...","সা'দ মুহাম্মাদকে বলেন: ""তার প্রতি কঠোর হবেন না..."
2,Photo by 'Save Gaza Project',"ছবি ""সেভ গাজা প্রজেক্টের""।'"
3,"So, therefore, we need to test batteries under...","অতএব, আমআদের কিছুটা মান অবস্থাগুলির অধীনে ব্যা..."
4,This party is also contesting in the elections.,নির্বাচনে এই দলের মধ্যেই প্রতিদ্বন্দ্বিতা হবে।
...,...,...
3696,I was just holding this for...,আমি শুধু এটা ধরে রাখছিলাম...
3697,All India Majlis Ittehadul Muslimeens MP Asadu...,"মাওলানা আরশাদ মাদানী বলেন, তারা হাইকোর্টের সিদ..."
3698,It has a 13MP rear camera and a 5MP front camera.,এর পেছনে ১৩ মেগাপিক্সেলের ও সামনে ৫ মেগাপিক্সে...
3699,"V K Saraswat, member NITI Aayog pointed out th...",কোভিড-১৯ সংক্রান্ত প্রযুক্তিকে কাজে লাগানোর জন...
3700,Kim Jong-un and Donald Trump arrive in Singapo...,ডোনাল্ড ট্রাম্প ও কিম জং-উন সিঙ্গাপুরে .

Since, we want to see and improve our model's performance on the `test_data`, we will take take 50% of the `test_data` and it will along with the `train_dev_data` to compose our validation set. This is done specifically to account for variance and data mismatch problem.

In [17]:
test_data, test_val_data  = train_test_split(test_data, train_size=0.5, random_state=43)

In [56]:
# test_data.to_csv("test_data.csv")
# test_val_data.to_csv("test_val.csv")
# Uncomment and run the above lines if running for first time and there is no train_data.csv and train_dev.csv file in the working directory
test_data = pd.read_csv("test_data.csv")[['src', 'tgt']]
test_val_data = pd.read_csv("test_val.csv")[['src', 'tgt']]

In [57]:
test_data

,src,tgt
0,He asked NITI Aayog to follow up with the Stat...,রাজ্যগুলির দেওয়া সুপারিশের প্রেক্ষিতে তিন মাসে...
1,Who is not a fan of Harmanpreet Kaur?,হরমনপ্রীতকাউরের গুণগ্রাহী নয় এমন মানুষ খুঁজে প...
2,"In particular, he called for innovative approa...",দক্ষতা বিকাশ ও পর্যটনের মতো ক্ষেত্রগুলিতে উদ্ভ...
3,"Over the last twenty years, more than eight hu...",গত ২০ বছরে এশিয়া-প্রশান্ত মহাসাগর অঞ্চলে বিপর্...
4,PM inaugurated the first phase of River Front ...,প্রধানমন্ত্রী পাটনায় নদী বিকাশ প্রকল্পের প্রথম...
...,...,...
1190,Starting a new business in India is now easier...,ভারতে নতুনব্যবসা-বাণিজ্যের সূচনা এখন আগের থেকে...
1191,The delegation interacted with the Prime Minis...,মহিলাদের শিল্পোদ্যোগ প্রচেষ্টা এবংনারী ক্ষমতায়...
1192,He said the ITI would help empower the youth o...,শিল্প প্রশিক্ষণ প্রতিষ্ঠান চালু হলে এই দ্বীপের...
1193,He remarked that he has himself visited the No...,"শ্রী মোদী বলেন, গত চার বছরে তিনি ২৫বারেরও বেশি..."
1194,There are many such aspects which emerged out ...,এমন কিছু না কিছু বিষয়চলে আসে যে তা সব পরীক্ষার...

In [58]:
test_val_data

,src,tgt
0,"Through her work, she spread the message of th...",নিজের কর্মেরউদাহরণ স্থাপন করে তিনি মানুষকে সেব...
1,Interacting with beneficiaries and store owner...,সারা দেশের ৫ হাজারেরও বেশি স্থান থেকে দোকান মা...
2,These include:,এই প্রকল্পগুলির মধ্যে রয়েছে-
3,It is no surprise that today Japan is India’s ...,জাপান যে বর্তমানে ভারতের চতুর্থ বৃহত্তম প্রত্য...
4,Record growth in last two and a half years,গত আড়াই বছরেরেকর্ড পরিমাণ অগ্রগতি
...,...,...
1190,"The MoU was signed in April, 2017.",বৈঠকে নেতৃত্ব দেন প্রধানমন্ত্রী স্বয়ং।
1191,Top officials of the Ministry of Health and Fa...,পর্যালোচনা বৈঠকে এছাড়াও উপস্থিত ছিলেন স্বাস্থ্...
1192,Sports are considered a waste of time in our s...,"সমাজে এখনও মনে করা হয়, খেলাধুলো করা মানে সময় ন..."
1193,The MoU covers the following areas of cooperat...,"এই মউ-এ সহযোগিতার যেসব ক্ষেত্র রয়েছে, তার মধ্য..."
1194,After unveiling a plaque to mark the inaugurat...,একটি ফলকের আবরণ উন্মোচন করে সেতুটির উদ্বোধনের ...

Now, one thing we need to decide on is the number of words per sentence that we should take. We look below look at our training data's source sentences to see what kind of input sentences we encounter.

In [ ]:
def sent_by_word_count(data, word_counts):
    sentences_filtered_word_num = {}
    for sent in data:
        sent_num_words = len(sent.split())
        for num_words in word_counts:
            if sent_num_words <= num_words:
                sentences_filtered_word_num[num_words] = sentences_filtered_word_num.get(num_words, 0) + 1
    return sentences_filtered_word_num

In [ ]:
sentences_filtered_word_num = sent_by_word_count(train_data['src'], list(range(10, 151, 10)))
for num_words, num_sentences in sentences_filtered_word_num.items():
    print(f"The number of english sentences with <= {num_words} words are: {num_sentences}")

The number of english sentences with <= 10 words are: 69625
The number of english sentences with <= 20 words are: 94747
The number of english sentences with <= 30 words are: 105236
The number of english sentences with <= 40 words are: 109011
The number of english sentences with <= 50 words are: 110191
The number of english sentences with <= 60 words are: 110569
The number of english sentences with <= 70 words are: 110761
The number of english sentences with <= 80 words are: 110842
The number of english sentences with <= 90 words are: 110887
The number of english sentences with <= 100 words are: 110925
The number of english sentences with <= 110 words are: 110955
The number of english sentences with <= 120 words are: 110975
The number of english sentences with <= 130 words are: 110989
The number of english sentences with <= 140 words are: 110995
The number of english sentences with <= 150 words are: 110999

In [ ]:
sentences_filtered_word_num = sent_by_word_count(train_data['tgt'], list(range(10, 151, 10)))
for num_words, num_sentences in sentences_filtered_word_num.items():
    print(f"The number of bengali sentences with <= {num_words} words are: {num_sentences}")

The number of bengali sentences with <= 10 words are: 76066
The number of bengali sentences with <= 20 words are: 99593
The number of bengali sentences with <= 30 words are: 107265
The number of bengali sentences with <= 40 words are: 109611
The number of bengali sentences with <= 50 words are: 110344
The number of bengali sentences with <= 60 words are: 110647
The number of bengali sentences with <= 70 words are: 110790
The number of bengali sentences with <= 80 words are: 110863
The number of bengali sentences with <= 90 words are: 110920
The number of bengali sentences with <= 100 words are: 110957
The number of bengali sentences with <= 110 words are: 110970
The number of bengali sentences with <= 120 words are: 110982
The number of bengali sentences with <= 130 words are: 110991
The number of bengali sentences with <= 140 words are: 110998
The number of bengali sentences with <= 150 words are: 111004

Looking at the above figures, we see there are not that many sentences of length longer than 60.

Now, we look at the number of unique words in both the source and target sentences.

In [ ]:
vocab_en = set([word for sent in train_data['src'].values for word in sent.split()])

In [ ]:
vocab_ben = set([word for sent in train_data['tgt'] for word in sent.split()])

In [ ]:
print("Number of unique words in english train data:", len(vocab_en))
print("Number of unique words in bengali train data:", len(vocab_ben))

Number of unique words in english train data: 116349
Number of unique words in bengali train data: 148459

### Tokenization and Normalization

We create will create massive text files for both English and Bengali(from the entire dataset except the `train_dev_data`) to train our Byte-Pair Tokenizer for the most frequently occuring characters.

In [26]:
with open('eng.txt', 'w') as f:
    f.write('\n'.join(train_data['src'].iloc[[idx for idx in train_data.index if idx not in train_dev_data.index]]))

In [27]:
with open('ben.txt', 'w') as f:
    f.write('\n'.join(train_data['tgt'].iloc[[idx for idx in train_data.index if idx not in train_dev_data.index]]))

We train the Byte-Pair Encoder model with vocab size of 32,000 for both English and Bengali.

In [41]:
spm.SentencePieceTrainer.train('--input=eng.txt --model_prefix=eng_bpe --vocab_size=32000 --model_type=bpe --normalization_rule_name=nfkc_cf --bos_id=3 --eos_id=1 --unk_id=2 --pad_id=0')

In [42]:
spm.SentencePieceTrainer.train('--input=ben.txt --model_prefix=ben_bpe --vocab_size=32000 --model_type=bpe --normalization_rule_name=nfkc_cf --bos_id=3 --eos_id=1 --unk_id=2 --pad_id=0')

The following two examples show how we the trained BPE encodes subwords to ids, which will be further padded to give rise to the format in which we will input data in our model.

In [43]:
# Run the above commented lines after uncommenting if eng_bpe.model and ben_bpe.model are not generated previously
sp_en_bpe = spm.SentencePieceProcessor()
sp_en_bpe.load('eng_bpe.model')

print("*** ENGLISH SENTENCE ***")
print(train_data['src'].iloc[0])
print('*** ENGLISH BPE ***')
print(sp_en_bpe.encode_as_pieces(train_data['src'].iloc[0]))
print(sp_en_bpe.encode_as_ids(train_data['src'].iloc[0]))

*** ENGLISH SENTENCE ***
Actually, it didnt.
*** ENGLISH BPE ***
['▁actually', ',', '▁it', '▁didnt', '.']
[2597, 31975, 78, 1138, 31972]

In [44]:
sp_ben_bpe = spm.SentencePieceProcessor()
sp_ben_bpe.load('ben_bpe.model')

print("*** BENGALI SENTENCE ***")
print(train_data['tgt'].iloc[0])
print('*** BENGALI BPE ***')
print(sp_ben_bpe.encode_as_pieces(train_data['tgt'].iloc[0]))
print(sp_ben_bpe.encode_as_ids(train_data['tgt'].iloc[0]))

*** BENGALI SENTENCE ***
সত্যি, ব্যাপারটা ও ভাবে নি।
*** BENGALI BPE ***
['▁সত্যি', ',', '▁ব্যাপারটা', '▁ও', '▁ভাবে', '▁নি', '।']
[1569, 31912, 3981, 56, 1225, 57, 31899]

For easy encoding and decoding of sentences, we would have two helper functions for tokenization and detokenization.

In [45]:
def tokenize(sentence, sp_model):
    # We add the EOS token at the end of each encoded sentence
    inputs = [sp_model.bos_id()] + sp_model.encode_as_ids(sentence) + [sp_model.eos_id()]
    return np.reshape(np.array(inputs), [1, -1])

In [46]:
def detokenize(tokenized, sp_model):
    integers = np.squeeze(tokenized).tolist()
    return sp_model.DecodeIdsWithCheck(integers[1:integers.index(sp_model.eos_id())])

### Build Data Generator

Now, we come to the final phase of data pre-processing i.e. building the data generator which can be feed data to the model continually through the epochs.\
The data generator will yield tuples of English and Bengali sentences where both the English and Bengali sentences are padded and encoded as list of integers corresponding to the respective index in the vocabualary(generated by BPE).

In [47]:
def data_generator(batch_size, src, tgt, maxlen=60, shuffle=False, verbose=False):
    num_lines = len(src)
    
    lines_index = [*range(num_lines)]
    
    if shuffle:
        np.random.shuffle(lines_index)
    
    index = 0
    while True:
        buffer_src = list()
        buffer_tgt = list() 
                
        max_len = 0 
        for i in range(batch_size):
            if index >= num_lines:
                index = 0
                if shuffle:
                    np.random.shuffle(lines_index)
            
            buffer_src.append(src[lines_index[index]])
            buffer_tgt.append(tgt[lines_index[index]])

            
            
            index += 1


        batch_src = pad_sequences(buffer_src, maxlen = maxlen, padding='post', truncating='post')
        batch_tgt = pad_sequences(buffer_tgt, maxlen = maxlen, padding='post', truncating='post')

        if verbose: print("index=", index)
        yield((batch_src, batch_tgt))

Let's see how our `data_generator` works. But for that we must convert the `src` and `tgt` as list of integers encoded as per BPE vocabulary.

In [48]:
src_train_data_enc = [np.squeeze(tokenize(train_data['src'].iloc[i], sp_en_bpe)) for i in range(train_data.shape[0])]
tgt_train_data_enc = [np.squeeze(tokenize(train_data['tgt'].iloc[i], sp_ben_bpe)) for i in range(train_data.shape[0])]

In [49]:
train_data_gen = data_generator(32, src_train_data_enc, tgt_train_data_enc, verbose=True)

In [50]:
src_batch_1, tgt_batch_1 = next(train_data_gen)
src_batch_2, tgt_batch_2 = next(train_data_gen)

index= 32
index= 64

In [51]:
print("*** Batch-1 ***")
print("encoded source shape: ", src_batch_1.shape)
print("encoded target shape: ", tgt_batch_1.shape)
print("encoded source example: ", src_batch_1[0])
print("encoded target example: ", tgt_batch_1[0])
print("decoded source example: ", detokenize(src_batch_1[0], sp_en_bpe))
print("decoded target example: ", detokenize(tgt_batch_1[0], sp_ben_bpe))

print("\n*** Batch-2 ***")
print("encoded source shape: ", src_batch_2.shape)
print("encoded target shape: ", tgt_batch_2.shape)
print("encoded source example: ", src_batch_2[0])
print("encoded target example: ", tgt_batch_2[0])
print("decoded source example: ", detokenize(src_batch_2[0], sp_en_bpe))
print("decoded target example: ", detokenize(tgt_batch_2[0], sp_ben_bpe))

*** Batch-1 ***
encoded source shape:  (32, 60)
encoded target shape:  (32, 60)
encoded source example:  [    3  2597 31975    78  1138 31972     1     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
encoded target example:  [    3  1569 31912  3981    56  1225    57 31899     1     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
decoded source example:  actually, it didnt.
decoded target example:  সত্যি, ব্যাপারটা ও ভাবে নি।

*** Batch-2 ***
encoded source shape:  (32, 60)
encoded target shape:  (32, 60)
encoded source example:  [    3    75   676   232     8  7176    35 11050   240    38   235   287
  7001 31972     1     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
encoded target example:  [    3   209   365   181   540  1021  5981   181  6048   950   698  1108
 13233 31899     1     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
decoded source example:  we now had the privilege of accompanying them to their new assignment.
decoded target example:  আমরা এখন তাদের নতুন কার্যভারে তাদের সঙ্গী হওয়ার বিশেষ সুযোগ পেয়েছিলাম।

Similarly, we have the `train_dev_data` and `test_val_data` generator to generate data for evaluation of our model.

In [52]:
src_train_dev_data_enc = [np.squeeze(tokenize(train_dev_data['src'].iloc[i], sp_en_bpe)) for i in range(train_dev_data.shape[0])]
tgt_train_dev_data_enc = [np.squeeze(tokenize(train_dev_data['tgt'].iloc[i], sp_ben_bpe)) for i in range(train_dev_data.shape[0])]

In [53]:
train_dev_data_gen = data_generator(8, src_train_dev_data_enc, tgt_train_dev_data_enc, verbose=True)

In [54]:
src_batch_1, tgt_batch_1 = next(train_dev_data_gen)
src_batch_2, tgt_batch_2 = next(train_dev_data_gen)

print("*** Batch-1 ***")
print("encoded source shape: ", src_batch_1.shape)
print("encoded target shape: ", tgt_batch_1.shape)
print("encoded source example: ", src_batch_1[0])
print("encoded target example: ", tgt_batch_1[0])
print("decoded source example: ", detokenize(src_batch_1[0], sp_en_bpe))
print("decoded target example: ", detokenize(tgt_batch_1[0], sp_ben_bpe))

print("\n*** Batch-2 ***")
print("encoded source shape: ", src_batch_2.shape)
print("encoded target shape: ", tgt_batch_2.shape)
print("encoded source example: ", src_batch_2[0])
print("encoded target example: ", tgt_batch_2[0])
print("decoded source example: ", detokenize(src_batch_2[0], sp_en_bpe))
print("decoded target example: ", detokenize(tgt_batch_2[0], sp_ben_bpe))

index= 8
index= 16
*** Batch-1 ***
encoded source shape:  (8, 60)
encoded target shape:  (8, 60)
encoded source example:  [    3    75  1097   331 19074    40  6057  1927    38  1216  1142   505
 10246   349 31972     1     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
encoded target example:  [    3   157   157   746  1984    75  2706  4933    93 13751  8279 21327
   919   641 31899     1     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
decoded source example:  we beg our protestant and jewish friends to put away such suspicions.
decoded target example:  কোন কোন ক্ষেত্রে কর্তৃপক্ষ এবং ধর্মীয় নেতারা এই ইহুদী বিষয়টিকে লুকানো চেষ্টা করেছিলেন।

*** Batch-2 ***
encoded source shape:  (8, 60)
encoded target shape:  (8, 60)
encoded source example:  [    3  1784   119  4706    84  5129   206  4161    26 14349  5300 31972
     1     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
encoded target example:  [    3  1347  6922   570   808 31912 25949  4932    56  3437 29123 20824
  2973   842    55 31899     1     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
decoded source example:  research has shown that exercise also helps in removing stress.
decoded target example:  এছাড়া গবেষণায় দেখা গেছে, শরীরচর্চা উদ্বেগ ও মানসিক অবসাদ কমাতেও সাহায্য করে।

In [59]:
src_test_val_data_enc = [np.squeeze(tokenize(test_val_data['src'].iloc[i], sp_en_bpe)) for i in range(test_val_data.shape[0])]
tgt_test_val_data_enc = [np.squeeze(tokenize(test_val_data['tgt'].iloc[i], sp_ben_bpe)) for i in range(test_val_data.shape[0])]

In [60]:
test_val_data_gen = data_generator(8, src_test_val_data_enc, tgt_test_val_data_enc, verbose=True)

In [61]:
src_batch_1, tgt_batch_1 = next(test_val_data_gen)
src_batch_2, tgt_batch_2 = next(test_val_data_gen)

print("*** Batch-1 ***")
print("encoded source shape: ", src_batch_1.shape)
print("encoded target shape: ", tgt_batch_1.shape)
print("encoded source example: ", src_batch_1[0])
print("encoded target example: ", tgt_batch_1[0])
print("decoded source example: ", detokenize(src_batch_1[0], sp_en_bpe))
print("decoded target example: ", detokenize(tgt_batch_1[0], sp_ben_bpe))

print("\n*** Batch-2 ***")
print("encoded source shape: ", src_batch_2.shape)
print("encoded target shape: ", tgt_batch_2.shape)
print("encoded source example: ", src_batch_2[0])
print("encoded target example: ", tgt_batch_2[0])
print("decoded source example: ", detokenize(src_batch_2[0], sp_en_bpe))
print("decoded target example: ", detokenize(tgt_batch_2[0], sp_ben_bpe))

index= 8
index= 16
*** Batch-1 ***
encoded source shape:  (8, 60)
encoded target shape:  (8, 60)
encoded source example:  [    3   695   314   321 31975   271  1902     8  2484    35     8  4436
    35 13446    40  1327    38  3992 31972     1     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
encoded target example:  [    3   934  9618 20040  2412    55   121  2873  2061    56 27933  2105
  8347   207 31899     1     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
decoded source example:  through her work, she spread the message of the importance of cleanliness and service to mankind.
decoded target example:  নিজের কর্মেরউদাহরণ স্থাপন করে তিনি মানুষকে সেবা ও স্বচ্ছতার পথে চালিত করেন।

*** Batch-2 ***
encoded source shape:  (8, 60)
encoded target shape:  (8, 60)
encoded source example:  [    3    75   127   795   276     6  1684    73   469  3638    26  1032
    35 27550 31972     1     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
encoded target example:  [    3 19894  2195  4569   724   399  1114 31895  1174  1124  3331   130
   209    59   698  3248   421 28599  1317  1269 31899     1     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0]
decoded source example:  we have set up a chair for indian studies in university of lisbon.
decoded target example:  লিসবন বিশ্ববিদ্যালয়ে ভারতীয় বিষয় সম্পর্কেপঠনপাঠনের জন্য আমরা এক বিশেষ অধ্যাপকের পদও সৃষ্টি করেছি।

We will now use the above data generator to train and evaluate our models.